:root {
  --blue: #3D5E6A;
  --reddish: #BB422A;
  --base-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: 300 100%/1.6 'Avenir', 'Avenir Next', sans-serif;
}

header, nav, main, footer {
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 48rem;
}

nav > ul { list-style: none inside; }
nav > ul > li {
  display: inline-block;
  margin: 0 var(--base-size) var(--base-size) 0;
}

footer { text-align: center; }

h1, h2, h3, h4, h5, h6 { color: var(--blue); }
a { color: var(--reddish); }
