<nav class="u-p3">
  <ul class="list--reset">
    {{#each collections.pages as |p|}}
      <li class="u-inbl u-mr2">
        <a href="{{ base_url }}/{{ p.path }}">{{ p.title }} {{path}}</a>
      </li>
    {{/each}}
  </ul>
</nav>
