<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    {{> header }}
    {{> nav }}
    <main>
      <article class="">
        <h1>{{ name }} {{ priority }}</h1>
        {{{ contents }}}
      </article>
    </main>
    {{> footer }}
  </body>
</html>
