{{#extend 'default'}}
  {{#content 'main'}}
    <article class="o-container--md u-mx-auto u-p3">
      <header class='u-center u-mb4'>
        <h1>{{ title }}</h1>
        <time datetime="{{date}}">{{moment date "MMMM Do YYYY"}}</time>
      </header>
      <section>
        {{{ contents }}}
      </section>
    </article>
  {{/content}}
{{/extend}}
